/* Styles common to all types of snackbars */
.snackbar {
    position: fixed;
    left: 20px;
    padding: 20px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 1s ease-out;
    z-index: 10000;
    color: white;
    font-size: 16px;
}

.snackbar-close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.snackbar-close-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.snackbar-progress-bar {
    width: 100%;
    height: 5px;
    background-color: grey;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 3s linear;
}

/* Style of different types of snackbars */
.snackbar-info {
    background-color: black;
}

.snackbar-success {
    background-color: green;
}

.snackbar-error {
    background-color: red;
}

.snackbar-default {
    background-color: black;
}
